
.bt-toolbar-header a {
  text-decoration: none;
  color: #fff;
}

.bt-container {
}

.bt-toolbar-header {
  z-index: 10;
  position: relative
}

.bt-sidenav-container md-sidenav {
  min-width: 250px;
  max-width: 400px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.bt-sidenav-container {
  position: fixed !important;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.bt-sidenav {
  padding-bottom: 72px;
}


.bt-sidenav h3 {
  background: #aaa;
  color: hsla(0,0%,100%,.87);
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}

.bt-sidenav a {
  cursor: pointer;
  text-decoration: none;
}


.bt-sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bt-sidenav li {
  border-color: rgba(0,0,0,.06);
  color: rgba(0,0,0,.54);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
}

.bt-sidenav li:hover {
  background-color: #fbfbfb;
}


a.bt-sidenav-selected {
  background-color: #fbfbfb;
  color: #559 !important;
}

a.bt-sidenav-selected h3 {
  color: #fff;
}

.bt-sidenav li>a {
  cursor: pointer;
}

.bt-sidenav li>p, li>a  {
  margin: 0px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  color: rgba(0, 0, 0, .54);
}
