.controller-content {
    //width: calc(100% - 64px);
    width: 100%;
}

.controller-temperature-profile {
    vertical-align: top;
}

.controller-state {
    vertical-align: top;
}


.controller-top-part {
    height: 250px;
}

.controller-bottom-part {
    height: 300px;
}