<md-toolbar color="primary" class="">
  <h1>Mash controller</h1>
</md-toolbar>

<div class="controller-content">
  <table width="100%">
    <tr>
      <td width="50%">
        <div class="pid-widget">
          <table class="data-form-full-width" cellspacing="0">
              <tr>
                <td>
                  <md-input-container class="data-form-full-width">
                    <input mdInput placeholder="P" type="number" required [(ngModel)]="state.kp"/>
                  </md-input-container>
                </td>
              </tr>
              <tr>
                <td>
                  <md-input-container class="data-form-full-width">
                    <input mdInput placeholder="I" type="number" required [(ngModel)]="state.ki"/>
                  </md-input-container>
                </td>
              </tr>
              <tr>
                <td>
                  <md-input-container class="data-form-full-width">
                    <input mdInput placeholder="D" type="number" required [(ngModel)]="state.kd"/>
                  </md-input-container>
                </td>
              </tr>
          </table>
        </div>
      </td>
      <td width="50%" >
        <div class="temperature-widget">
          <div class="temperature-widget-temperature">
            {{state.temperatureC}}°c
          </div>
          <div class="temperature-widget-setpointC">
            {{state.setpointC}}°c
          </div>
          <div class="temperature-widget-power">
            {{state.controllerOutput / state.outputMax}}%
          </div>
        </div>
      </td>
    </tr>
  </table>

</div>

