
.mash-control-graph-content {
    // background-color: aquamarine;
    height: 300px;
    border: solid 1px;
    // height: calc(100% - 16px);
}

.mash-control-graph-main {
    height: 100%;
    display: block;
}
    
