<div class="controller-state-content-outer">
  <div class="controller-state-content">
    <table width="100%">
      <tr>
        <td width="50%" class="pid-widget-cell">
          <div class="pid-widget">
            <table width="100%" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="data-form-full-width" [hideRequiredMarker]="true">
                      <mat-label>P</mat-label>
                      <input matInput placeholder="P" type="number" required [(ngModel)]="kp" (change)="setPID()"/>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="data-form-full-width" [hideRequiredMarker]="true">
                      <mat-label>I</mat-label>
                      <input matInput placeholder="I" type="number" required [(ngModel)]="ki"/>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="data-form-full-width" [hideRequiredMarker]="true">
                      <mat-label>D</mat-label>
                      <input matInput placeholder="D" type="number" required [(ngModel)]="kd"/>
                    </mat-form-field>
                  </td>
                </tr>
            </table>
          </div>
        </td>
        <td width="50%" class="pid-widget-cell">
          <div class="temperature-widget">
            <div class="temperature-widget-temperature">
              {{state.temperatureC | number:'1.1-1'}}°c
            </div>
            <div class="temperature-widget-setpoint">
              {{state.setpointC | number:'1.1-1'}}°c
            </div>
            <div class="temperature-widget-power">
              {{state.outputPercent | number:'1.0-0'}}%
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="controller-state-buttons">
      <mat-slide-toggle (click)="toggleAutoControl()" class="controller-state-button" [checked]="state.autoControl">Auto</mat-slide-toggle>
      <mat-slide-toggle (click)="toggleHeater()" class="controller-state-button" [checked]="state.heaterActive">Heater</mat-slide-toggle>
      <mat-slide-toggle (click)="toggleAgitator()" class="controller-state-button" [checked]="state.agitatorActive">Agitator</mat-slide-toggle>
    </div>

  </div>

</div>

