
.bt-page-toolbar {
    min-height: 48px !important;
    height: 48px !important;
    padding-top: 0px;
}

.controller-content {
  width: 100%;
  min-height: calc(100% - 48px);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.controller-temperature-profile {
  flex: 3;
}

.controller-state {
  flex: 2;
}

.controller-top-part {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.controller-bottom-part {
  flex: 1;
}
