<mat-toolbar color="primary" class="bt-page-toolbar">
  <h1>Mash controller</h1>
</mat-toolbar>

<div class="controller-content">

  <div class="controller-top-part">
    <div class="controller-temperature-profile">
      <bt-temperature-profile></bt-temperature-profile>
    </div>
    <div class="controller-state">
      <bt-mash-controller-state></bt-mash-controller-state>
    </div>
  </div>

  <div class="controller-bottom-part">
    <div class="controller-graph">
      <bt-mash-control-graph></bt-mash-control-graph>
    </div>
  </div>

</div>

