
.bt-page-toolbar {
    min-height: 48px !important;
    height: 48px !important;
    padding-top: 0px;
}

.controller-content {
    //width: calc(100% - 64px);
    width: 100%;
}

.controller-temperature-profile {
    vertical-align: top;
}

.controller-state {
    vertical-align: top;
}


.controller-top-part {
    height: 250px;
}

.controller-bottom-part {
    height: 300px;
}
