@import 'data-table.scss';
@import 'data-form.scss';


.controller-state-content-outer {
    width: 100%;
}

.controller-state-content {
    padding: 16px 32px 0px 32px;
    height: calc(100% - 16px);
}

.controller-state-buttons {
    margin: 8px;
}

.controller-state-button {
    margin-right: 16px;
    margin-top: 8px;
}

.pid-widget-cell {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

.pid-widget {
    width: 60%;
    padding:16px;
    font-size: 1.0em;
    vertical-align: top;
}
.pid-widget-form-input {
    padding: 0px;
}

.temperature-widget-cell {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

.temperature-widget {
    width: 100%;
    padding:0 16px 16px 0px;
    font-size: 1.5em;
    text-align: right;
}

.temperature-widget-temperature {
    font-size: 2.5em;
    margin: 8px;
}

.temperature-widget-setpoint {
    margin: 8px;
}

.temperature-widget-power {
    margin: 8px;
}
