
.mash-control-graph-content {
    // background-color: aquamarine;
    //height: 330px;
    //border: solid 1px;
     height: calc(100% - 64px);
}

.mash-control-graph-main {
    height: 100%;
    display: block;
}

