<md-toolbar color="primary" class="">
  <h1>Mash controller</h1>
</md-toolbar>

<div class="controller-content">
  <table width="100%">
    <tr>
      <td width="60%" class="controller-temperature-profile">
        <div class="controller-top-part">
          <bt-temperature-profile></bt-temperature-profile>
        </div>
      </td>
      <td width="40%" class="controller-state">
        <div class="controller-top-part">
          <bt-mash-controller-state></bt-mash-controller-state>
        </div>
      </td>
    </tr>
  </table>

</div>

