@import 'data-table.scss';
@import 'data-form.scss';

.temperature-profile-content-outer {
    // background-color: aquamarine;
    height: 100%;
}

.temperature-profile-content {
    padding: 16px 32px 0px 32px;
    overflow-y: auto;
    height: calc(100% - 16px);
}

.temperature-profile-buttons {
    margin: 8px;
}

.temperature-profile-cell {
    padding: 0 32px 0px 0px;
}

.add-level-button {
    margin: 4px 4px 4px 16px;
}

.start-control-button {
    float: right;
}

.stop-control-button {
    float: right;
}

.temperature-profile-view-table {
    border-spacing: 0px;
}

.temperature-level-inactive {
}

.temperature-level-active {
    background-color: rgb(93, 172, 236);
    outline: thin solid darkslategrey;
}

.temperature-level-pending {
    background-color: rgb(243, 243, 184);
    outline: thin solid darkslategrey;
}

.temperature-level-terminated {
    background-color: #ddd;
}

.temperature-profile-view-cell {
    padding: 16px 32px;
}

.temperature-profile-view-element-active {
    display: inline-block;
    font-size: 1.5em;
}

.temperature-profile-view-element {
    display: inline-block;
}
    