<mat-form-field class="data-form-full-width" appearance="fill">
  <input matInput placeholder="Name" type="text" [(ngModel)]="profile.levels[0].name" />
</mat-form-field>

<div class="temperature-profile-content-outer">
  <div class="temperature-profile-content">
    <div *ngIf="!state.running" class="temperature-profile-edit">
      <table width="100%">
        <tr *ngFor='let level of profile.levels; let i = index'>
          <td class="temperature-profile-cell">
            <mat-form-field class="data-form-full-width" appearance="fill">
              <input matInput placeholder="Name" type="text" [(ngModel)]="level.name" />
            </mat-form-field>
          </td>
          <td class="temperature-profile-cell">
            <mat-form-field class="data-form-full-width">
              <input matInput placeholder="Setpoint °c" type="number" required [formControl]="temperatureFormControls[i]"/>
              <mat-error *ngIf="temperatureFormControls[i].hasError('min')">
                The setpoint must be above 0
              </mat-error>
            </mat-form-field>
          </td>
          <td class="temperature-profile-cell">
            <mat-form-field class="data-form-full-width">
              <input matInput placeholder="Duration s" type="number" required [formControl]="durationFormControls[i]"/>
              <mat-error *ngIf="durationFormControls[i].hasError('min')">
                The duration must be above 0
              </mat-error>
            </mat-form-field>
          </td>
          <td *ngIf="(profile.levels.length != 1)">
            <div (click)="deleteLevel(i)">
              <i class="material-icons data-table-delete">delete</i>
            </div>
          </td>
        </tr>
      </table>
      <button mat-mini-fab (click)="addLevel()" class="add-level-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div *ngIf="state.running" class="temperature-profile-view">
      <table width="100%" class="temperature-profile-view-table">
        <tr *ngFor='let level of state.temperatureProfile.levels; let i = index' [ngClass]="getTemperatureLevelClass(level)">
          <td class="temperature-profile-view-cell">
            {{level.name}}
          </td>
          <td class="temperature-profile-view-cell">
            <div *ngIf="level.state == 'Active' || level.state == 'Pending'" class="temperature-profile-view-element-active">
                {{state.temperatureC | number:'1.1-1'}}°c /
            </div>
            <div class="temperature-profile-view-element">
                {{level.setpointC}}°c
            </div>
          </td>
          <td class="temperature-profile-view-cell">
            <div *ngIf="level.state == 'Active' || level.state == 'Pending'; else notActiveTime" class="temperature-profile-view-element-active">
                {{level.timerS | number:'1.0-0'}}s /
            </div>
            <ng-template #notActiveTime class="temperature-profile-view-element">
                {{level.timerS | number:'1.0-0'}}s /
            </ng-template>
            <div class="temperature-profile-view-element">
                {{level.durationS}}s
            </div>
          </td>
          <td class="temperature-profile-view-cell">
            <div *ngIf="level.state == 'Pending'" class="temperature-profile-view-element-active temperature-profile-button">
              <div (click)="startLevel()">
                <i class="material-icons data-table-button">play_arrow</i>
              </div>
            </div>
            <div *ngIf="level.state == 'Active'" class="temperature-profile-view-element-active temperature-profile-button">
              <div (click)="skipLevel()">
                <i class="material-icons data-table-button">fast_forward</i>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </div>
  <div class="temperature-profile-buttons">
    <button *ngIf="!state.running" mat-raised-button (click)="startControl()" class="start-control-button">Start</button>
    <button *ngIf="state.running" mat-raised-button (click)="stopControl()" class="stop-control-button">Stop</button>
  </div>
</div>

