@import 'data-table.scss';
@import 'data-form.scss';

.temperature-profile-content-outer {
}

.temperature-profile-content {
  padding: 16px 32px 0px 32px;
}

.temperature-profile-edit {
}

.temperature-profile-edit-entry {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin:4px;
}

.temperature-profile-view {
}

.temperature-profile-view-entry {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin:4px;
}

.temperature-profile-buttons {
    margin: 8px;
}

.temperature-profile-cell {
  flex: 1;
  margin: 0 4px;
}

.add-level-button {
    margin: 4px 4px 4px 16px;
}

.start-control-button {
    float: right;
}

.stop-control-button {
    float: right;
}

.temperature-profile-view-table {
    border-spacing: 0px;
}

.temperature-level-inactive {
}

.temperature-level-active {
    background-color: rgb(203, 230, 250);
    //outline: thin solid darkslategrey;
}

.temperature-level-pending {
    background-color: rgb(247, 247, 211);
    //outline: thin solid darkslategrey;
}

.temperature-level-terminated {
    background-color: #ddd;
}

.temperature-profile-view-cell {
  flex: 3;
  margin: 0 4px;
  padding: 16px 32px;
}

.temperature-profile-view-cell-small {
  flex: 1;
  margin: 0 4px;
  padding: 16px 32px;
}

.temperature-profile-view-element-active {
    display: inline-block;
    font-size: 1.5em;
}

.temperature-profile-view-element {
    display: inline-block;
}

.temperature-profile-button {
    cursor: pointer;
}
