<div class="temperature-profile-content-outer">
  <div class="temperature-profile-content">
    <div *ngIf="!state.running" class="temperature-profile-edit">
      <table width="100%">
        <tr *ngFor='let level of profile.levels; let i = index'>
          <td class="temperature-profile-cell">
            <md-input-container class="data-form-full-width">
              <input mdInput placeholder="Name" type="text" [(ngModel)]="level.name" />
            </md-input-container>
          </td>
          <td class="temperature-profile-cell">
            <md-input-container class="data-form-full-width">
              <input mdInput placeholder="Setpoint °c" type="number" required [(ngModel)]="level.setpointC" [formControl]="temperatureFormControls[i]"/>
              <md-error *ngIf="temperatureFormControls[i].hasError('min')">
                The setpoint must be above 0
              </md-error>
            </md-input-container>
          </td>
          <td class="temperature-profile-cell">
            <md-input-container class="data-form-full-width">
              <input mdInput placeholder="Duration s" type="number" required [(ngModel)]="level.durationS" [formControl]="durationFormControls[i]"/>
              <md-error *ngIf="durationFormControls[i].hasError('min')">
                The duration must be above 0
              </md-error>
            </md-input-container>
          </td>
          <td *ngIf="(profile.levels.length != 1)">
            <div (click)="deleteLevel(i)">
              <i class="material-icons data-table-delete">delete</i>
            </div>
          </td>
        </tr>
      </table>
      <button md-mini-fab (click)="addLevel()" class="add-level-button">
        <md-icon>add</md-icon>
      </button>
    </div>

    <div *ngIf="state.running" class="temperature-profile-view">
      <table width="100%" class="temperature-profile-view-table">
        <tr *ngFor='let level of state.temperatureProfile.levels; let i = index' [ngClass]="getTemperatureLevelClass(level)">
          <td class="temperature-profile-view-cell">
            {{profile.levels[i].name}}
          </td>
          <td class="temperature-profile-view-cell">
            <div *ngIf="level.state == 'Active' || level.state == 'Pending'" class="temperature-profile-view-element-active">
                {{state.temperatureC | number:'1.1-1'}}°c / 
            </div>
            <div class="temperature-profile-view-element">
                {{level.setpointC}}°c 
            </div>
          </td>
          <td class="temperature-profile-view-cell">
            <div *ngIf="level.state == 'Active' || level.state == 'Pending'" class="temperature-profile-view-element-active">
                {{level.timerS | number:'1.0-0'}}s /
            </div>
            <div class="temperature-profile-view-element">
                {{level.durationS}}s
            </div>
          </td>
        </tr>
      </table>
    </div>
  
  </div>
  <div class="temperature-profile-buttons">
    <button *ngIf="!state.running" md-raised-button (click)="startControl()" class="start-control-button">Start</button>
    <button *ngIf="state.running" md-raised-button (click)="stopControl()" class="stop-control-button">Stop</button>
  </div>
</div>

