<mat-toolbar color="primary" class="bt-page-toolbar">
  <h1>Hops</h1>
</mat-toolbar>
<div class="data-table-container mat-elevation-z4">

  <div class="data-table-header">
    <mat-form-field floatLabel="auto">
      <input matInput #filter placeholder="Filter hops">
    </mat-form-field>

    <button mat-mini-fab (click)="openEditModal(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let hop" (click)="openEditModal(hop)">
        <a *ngIf="hop.url != null; else noLinkName" (click)="$event.stopPropagation()" class="data-table-link" target="_blank" href="{{hop.url}}">{{hop.name}}</a>
        <ng-template #noLinkName>{{hop.name}}</ng-template>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="alphaAcid">
      <th mat-header-cell *cdkHeaderCellDef>Alpha Acid</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let hop" (click)="openEditModal(hop)"> {{hop.alphaAcid}} </td>
    </ng-container>

    <ng-container cdkColumnDef="isPellet">
      <th mat-header-cell *cdkHeaderCellDef>Pellet</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let hop" (click)="openEditModal(hop)"> {{hop.isPellet ? 'Yes' : 'No'}} </td>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <th mat-header-cell *cdkHeaderCellDef [ngClass]="'data-table-cell-small'"></th>
      <td mat-cell *cdkCellDef="let hop" [ngClass]="'data-table-cell-small'" (click)="deleteHopWithConfirm(hop)"><i class="material-icons data-table-delete">delete</i></td>
    </ng-container>

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *cdkRowDef="let hop; columns: displayedColumns;"></tr>
  </table>
</div>
