
.ingredients-sidenav-container md-sidenav {
  min-width: 250px;
  max-width: 400px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.ingredients-sidenav-container {
  position: fixed !important;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

nav {
  display: block;
}

.ingredients-sidenav h3 {
  background: rgba(0,0,0,.32);
  color: hsla(0,0%,100%,.87);
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}

.ingredients-sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ingredients-sidenav li {
  border-color: rgba(0,0,0,.06);
  color: rgba(0,0,0,.54);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
}

.ingredients-sidenav li>a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  color: rgba(0, 0, 0, .54);
}
