<div class="ingredients-container">


  <md-sidenav-container class="ingredients-sidenav-container" >
    <md-sidenav #sidenav mode="side" opened="true" class="ingredients-sidenav">

      <div class="ingredients-sidenav">
        <nav>
          <h3>Test</h3>
          <ul>
            <li>
              <a>Hello</a>
            </li>
            <li>
              <a>Hello 2</a>
            </li>
          </ul>
        </nav>
      </div>

    </md-sidenav>

    <bt-malt-list></bt-malt-list>

  </md-sidenav-container>

</div>
