<mat-toolbar color="primary" class="bt-page-toolbar">
  <h1>Other Ingredients</h1>
</mat-toolbar>
<div class="data-table-container mat-elevation-z4">

  <div class="data-table-header">
    <mat-form-field floatLabel="auto">
      <input matInput #filter placeholder="Filter other ingredients">
    </mat-form-field>

    <button mat-mini-fab (click)="openEditModal(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let otherIngredient" (click)="openEditModal(otherIngredient)"> {{otherIngredient.name}} </td>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <th mat-header-cell *cdkHeaderCellDef [ngClass]="'data-table-cell-small'"></th>
      <td mat-cell *cdkCellDef="let otherIngredient" [ngClass]="'data-table-cell-small'" (click)="deleteOtherIngredientWithConfirm(otherIngredient)"><i class="material-icons data-table-delete">delete</i></td>
    </ng-container>

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *cdkRowDef="let otherIngredient; columns: displayedColumns;"></tr>
  </table>
</div>
