<mat-toolbar color="primary" class="bt-page-toolbar">
  <h1>Malts</h1>
</mat-toolbar>
<div class="data-table-container mat-elevation-z4">

  <div class="data-table-header">
    <mat-form-field floatLabel="auto">
      <input matInput #filter placeholder="Filter malts">
    </mat-form-field>

    <button mat-mini-fab (click)="openEditModal(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let malt" (click)="openEditModal(malt)"> {{malt.name}} </td>
    </ng-container>

    <ng-container cdkColumnDef="grain">
      <th mat-header-cell *cdkHeaderCellDef>Grain</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let malt" (click)="openEditModal(malt)"> {{malt.grain}} </td>
    </ng-container>

    <ng-container cdkColumnDef="yield">
      <th mat-header-cell *cdkHeaderCellDef>Yield</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let malt" (click)="openEditModal(malt)"> {{malt.yield}} </td>
    </ng-container>

    <ng-container cdkColumnDef="ebc">
      <th mat-header-cell *cdkHeaderCellDef>EBC</th>
      <td mat-cell class="data-table-cell" *cdkCellDef="let malt" (click)="openEditModal(malt)"> {{malt.ebc}} </td>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <th mat-header-cell *cdkHeaderCellDef [ngClass]="'data-table-cell-small'"></th>
      <td mat-cell *cdkCellDef="let malt" [ngClass]="'data-table-cell-small'" (click)="deleteMaltWithConfirm(malt)"><i class="material-icons data-table-delete">delete</i></td>
    </ng-container>

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *cdkRowDef="let malt; columns: displayedColumns;"></tr>
  </table>
</div>
