<div class="malt-create-container">
  <table class="malt-create-full-width" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="malt-create-full-width">
          <input mdInput placeholder="Name" type="text" required [formControl]="nameFormControl" [(ngModel)]="malt.name"/>
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <md-select class="malt-create-full-width malt-create-select-spacer" placeholder="Grain" required [formControl]="grainFormControl" [(ngModel)]="malt.grain">
          <md-option *ngFor="let grain of grains" [value]="grain.value" >{{ grain.viewValue }}</md-option>
        </md-select>
      </td>
    </tr>

    <tr>
      <td>
        <md-input-container class="malt-create-full-width">
          <input mdInput placeholder="Yield" type="number" step="0.1" required [formControl]="yieldFormControl" [(ngModel)]="malt.yield"/>
          <md-error *ngIf="yieldFormControl.hasError('min')">
            The yield must be above 0
          </md-error>
          <md-error *ngIf="yieldFormControl.hasError('max')">
            The yield must be below 1
          </md-error>
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <md-input-container class="malt-create-full-width">
          <input mdInput placeholder="EBC" type="number" step="1" required [formControl]="ebcFormControl" [(ngModel)]="malt.ebc"/>
          <md-error *ngIf="ebcFormControl.hasError('min')">
            The ebc must be above 0
          </md-error>
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <md-input-container class="malt-create-full-width">
          <input mdInput placeholder="Description" type="text" value="{{malt.description}}" [(ngModel)]="malt.description"/>
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <md-input-container class="malt-create-full-width">
          <input mdInput placeholder="URL" type="text" value="{{malt.url}}" [(ngModel)]="malt.url"/>
        </md-input-container>
      </td>
    </tr>

  </table>


  <button type="button" md-button (click)="save()">Save</button>
</div>
